/* main color black #212121; */
/* secondary blacki-greyish  #757575; */
/* backgroud white #FFFFFF */
/* background black (sec 2 , footer) #2F303A */
/* background pinkish + selector-buttons bg #F5F4FA */
/* hover + logo : #2196F3; */
/* footer address rgba(255, 255, 255, 0.6) */


:root {
	--primary-text: #212121;
	--secondary-text: #757575;
	--background-main: #FFFFFF;
	--background-secondary: #2F303A;
	--background-three: #F5F4FA;
	--company-color: #2196F3;
	--footer-address: rgba(255, 255, 255, 0.6);
	--logo-black: #000000;
	--header-bottom: #ECECEC;
	--button-hover: #188CE8 ;
	--projects-border: #EEEEEE;
	--clients-logo: #AFB1B8;
	--footer-links-bcgd: rgba(255, 255, 255, 0.1);
	--backdrop-bckg: rgba(0, 0, 0, 0.2);
}

body {
	font-family: 'Roboto', 'Times New Roman' , sans-serif;
	background-color: var(--background-main);
	color: var(--primary-text);
	letter-spacing: 0.03em;
	font-size: 14px;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}
.section-title {
	margin-bottom: 50px;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}
.hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

/* remove dots only from existing lists */
.list {
	padding: 0;
	margin: 0;
	list-style: none;
}
/* remove underline from all links */
.link {
	text-decoration: none;
}
h1,h2,h3 {
	margin-top: 0;
}
p {
	margin: 0px ;
	padding: 0px ;
}
/* links to change color when hover and focus*/
.linkhov:hover,
.linkhov:focus {
	color: var(--company-color);
}
.nav-link:not(.current):focus::before,
.nav-link:not(.current):hover::before {
	transform: scale(1);
 }
 .nav-link::before {
	transform: scale(0);
	transition-property: transform;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }
.current {
	position: relative;
}
/* .nav-link:not(.current):hover::before, */
.nav-link::before,
.current::after {
	content: "";
	background-image: url(../images/hover.jpg);
	display: inline-block;
	width: calc(100% - 1px);
	height: 4px;
	background-size: contain;
	position: absolute;
	border-radius: 2px;
	bottom: -1.3px;
	left: 0;
}
.linkhov.current {
	color: var(--company-color);
}
/* logo */
.logo {
	font-family: 'Raleway', sans-serif;
	color: var(--logo-black);
	font-weight: 700;
	/* line-height is 31px in figma, when i get 30.94px, should i round it up to 1.2 or include more numbers after dort? */
	line-height: 1.19;
	font-size: 26px;
}
.logo-web {
	color: var(--company-color);
}
.logo-footer {
	display: block;
	margin-bottom: 20px;
	color: var(--background-main);
}
.transition {
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/* header (can use tag for header , but better with class) */



.contact-link-icon {
	fill: currentColor;
	margin-right: 10px;
}
/* .contact-link-icon:hover {
	fill: var(--company-color);
} */
.container {
	margin-right: auto;
	margin-left: auto;
	width: 1200px;
	padding-right: 15px;
	padding-left: 15px;
	/* outline: solid yellow; */
}
.nav-list {
	display: flex;
}
.nav-list-item:not(:last-child) {
	margin-right: 50px;
}
.address-top {
	display: flex;
	/* margin-left: auto; */
}
.address-top-item:not(:last-child) {
	margin-right: 50px;

}
.header-flex {
	display: flex;
	justify-content: space-between;
}
.navigation-item:not(:last-child) {
	margin-right: 93px;
}
.navigation {
	display: flex;
	align-items: center;
}
.nav-link,
.contact-link {
	transition-property: color;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
.nav-link {
	position: relative;
	display:block;
	padding-top: 32px;
	padding-bottom: 32px;

	color: inherit;
}
.contact-link {
	align-items: center;
	display: flex;
	padding-top: 32px;
	padding-bottom: 32px;
	color: var(--secondary-text);
}
header {
	border-bottom: 1px solid var(--header-bottom);
}

/* footer */
.subscribe-icon {
	margin-left: 10px;
}
.form-foot {
	display: flex;
}
.form-textarea::placeholder {
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);	
}
.email-foot::placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: var(--footer-address);
}
.email-foot {
	color: var(--background-main);
	margin-right: 12px;
	padding-left: 16px;
	display: inline-block;
	width: 358px;
	height: 50px;
	background-color: var(--background-secondary);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
}
.button-foot {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 50px;
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.06em;
	color: var(--background-main);
	background-color: var(--company-color);
	border: 0px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}
.contact-link-foot,
.print-address {
	line-height: 1.71;
	font-style: normal;
	
}
.foot-addr-item:not(:last-child) {
	margin-bottom: 9px;
}
.contact-link-foot {
	transition-property: color;
	color: var(--footer-address);
}
.print-address {
	color: var(--background-main);
}
.footer {
	padding: 60px 0px;
	background-color: var(--background-secondary);
}

.foot-cont {
	display: flex;
	align-items: baseline;
}
.flex-element:nth-child(1) {
	width: 231px;
	margin-right: 70px;
}
.flex-element:nth-child(2) {
	margin-right: 93px;
}

.join-list {
	display: flex;
	justify-content: center;
}

.team-icon {
	/* fill: currentColor; */
}

.join-link:hover,
.join-link:focus {
	background-color: var(--company-color);
}
.element-text {
	color: var(--background-main);
	font-style:normal;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 20px;
}
.join-link {
	transition-property: background-color;
	display: flex;
	width: 44px;
	height: 44px;
	fill: var(--background-main);
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: var(--footer-links-bcgd);
}

.join-item:not(:last-child) {
	margin-right: 10px;
}
/* index html main */
/* section 1=hero */

.hero {
	background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)) , url(../images/bigimage.jpg);
	background-repeat: no-repeat;
	background-position: center;
	max-width: 1600px;
	height: 600px;
	background-color: var(--background-secondary);
	text-align: center;
	padding: 200px 0px;
	margin-left: auto;
	margin-right: auto;
}
.hero-title {
	margin-left: auto;
	margin-right: auto;
	/* display: block; */
	width: 696px;
	margin-bottom: 30px;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--background-main);
	/* outline: solid yellow; */
}
.hero-button {
	transition-property: background-color;
	padding: 10px 32px;
	min-width: 200px;
	border: 0px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	background-color: var(--company-color);
	color: var(--background-main);
	font-size: 16px;
	font-weight: 700;
	line-height: 1.875;
	letter-spacing: 0.06em;
}
.hero-button:hover ,
.hero-button:focus {
	background-color: var(--button-hover);
}

/* section 2 =reasons */
.reasons-div {
	width: 270px;
	height: 120px;
	background-color: var(--background-three);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
}
.reasons-list {
	display: flex;
	flex-wrap: wrap;
	/* margin-top: -30px; */
	/* margin-left: -30px; */
	/* padding-top: 96px;
	padding-bottom: 94px; */
}
.reasons-item {
	/* margin-left: 30px; */
	/* margin-top: 30px; */
	flex-basis: calc((100% - 90px) / 4);
}
/* .reasons-item:not(:nth-child(-n + 4)) {
	margin-top: 30px;
} */
.reasons-item:not(:nth-child(4n + 1)) {
	margin-left: 30px;
}


/* .reasons-list {
	display: flex;
	flex-wrap: wrap;
	padding-top: 96px;
	padding-bottom: 94px;
}
.reasons-item:not(:nth-last-child(-n + 4)) {
		margin-bottom: 30px;
}
.reasons-item:not(:nth-child(4n)) {
	margin-right: 30px;
}
.reasons-item {
	flex-basis: calc((100% - 120px)/ 4) ;
	background-color: tomato;
} */


.reasons-title {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.17;
	text-transform: uppercase;
}
.reasons-text {
	/* margin-top: 0;
	margin-bottom: 0; */
	font-size: 14px;
	line-height: 1.71;
	color: var(--secondary-text);
}

/* section 3 =processes*/
.proc-text {
	position: absolute;
	bottom: 0;
	width: 370px;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(to right , rgba(47, 48, 58, 0.8) , rgba(47, 48, 58, 0.8));
	font-weight: 700;
	line-height: 16px;
	text-transform: uppercase;
	color: var(--background-main);
}

.section.processes {
	padding-top: 0px;
}
.proc-list {
	display: flex;
	flex-wrap: wrap;
}
.proc-item {
	flex-basis: calc((100% - 60px) / 3);
	position: relative;
}
.proc-item:not(:nth-child(3n)) {
	margin-right: 30px;
}


/* section 4=team */

/* outline- sec 3 css */
.team-links-list {
	display: flex;
	justify-content: center;
}
.team-icon {
	fill: currentColor;
}
.link-icon-team:hover ,
.link-icon-team:focus {
	background-color: var(--company-color);
	color: var(--background-main);
	/* fill: var(--background-main); */
}
.link-icon-team {
	transition-property: background-color , color;
	color: var(--clients-logo);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	/* fill: var(--clients-logo); */
	/* padding: 12px 0px; */
	border-radius: 50%;
}
.team-limks-item:not(:last-child) {
	margin-right: 10px;
}

.team-list {
	display:flex
}
.team-item {
	flex-basis: calc((100% - 90px) / 4);
	text-align: center;
}
.team-item:not(:nth-child(4n)) {
	margin-right: 30px;
}
.team-name-text {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	max-width: 270px;
	text-align: center;
	padding: 30px 0px;
	background-color: var(--background-main);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}



.team {
	background-color: var(--background-three);
}
.team-name,
.team-text {
	font-size: 16px;
	line-height: 1.17;
	margin-bottom: 16px;
}
.team-name {
	margin-bottom: 10px;
	font-weight: 500;
}

.team-text {
	color: var(--secondary-text);
}
/* section 5 clients */
.clients-list {
	display: flex;
	justify-content: center;
}
.clients-svg {
	fill: currentColor;
}
.clients-link:hover,
.clients-link:focus {

	border: 1px solid var(--company-color);
	/* fill: var(--company-color); */
	color: var(--button-hover);
}
.clients-link {
	color: var(--clients-logo);
	transition-property: color , border;
	/*  */
	display: flex;
	width: 170px;
	height: 92px;
	border: 1px solid var(--clients-logo);
	/* fill: var(--clients-logo); */
	justify-content: center;
	align-items: center;
	border-radius: 4px;
}
.clients-item:not(:last-child) {
	margin-right: 30px;
}
/* portfolio-html */
.filter-list {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.filter-item:not(:last-child) {
	margin-right: 8px;
}
.projects-list {
	display: flex;
	flex-wrap: wrap;
}
.projects-item {
	flex-basis: calc((100% - 60px) / 4);
}
.projects-item:not(:nth-child(3n)) {
	margin-right: 30px;
}
.projects-item:not(:nth-last-child(-n + 3)) {
	margin-bottom: 30px;
}
.modal-submit,
.button-foot,
.modal-button-c,
.filter ,
.hero-button {
	cursor: pointer;
}
.filter {
	transition-property: background-color , box-shadow , color ;
	padding: 6px 22px ;
	/* display: block; */
	border-radius: 4px;
	border: 0px;
	background-color: var(--background-three);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.625;
	color: var(--primary-text);
}
.filter:hover,
.filter:focus,
.filter.active {
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	background-color: var(--company-color);
	color: var(--background-main);
}

.portfolio-title {
	/* padding-top: 20px; */
	margin-bottom: 4px;
	/* padding-bottom: 4px; */
	color: var(--primary-text);
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}
.portfolio-text {
	/* border-bottom: 1px solid var(--background-three);
	padding-bottom: 20px; */

	color: var(--secondary-text);
	font-size: 16px;
	line-height: 1.875;
}
.img-port {
	display: block;
	z-index: -2;
}
/* .portfolio-title,
.portfolio-text {
	border-left: 1px solid var(--background-three);
	border-right: 1px solid var(--background-three);
	padding-left: 24px; 
} */
.border {
	border-left: 1px solid var(--projects-border);
	border-right: 1px solid var(--projects-border);
	border-bottom: 1px solid var(--projects-border);
	padding: 20px 24px; 
}
.portfolio-link:hover .portfolio-overlay,
.portfolio-link:hover,
.portfolio-link:focus {

	transform: translateY(0);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-link {
	transition-property: box-shadow;
	display: block;
}
.portfolio-thumb {
	position: relative;
	overflow: hidden;
}

.portfolio-overlay {
	transition-property: transform;
	transform: translateY(100%);
	/* remove */
	background-image: linear-gradient(to right, rgba(33, 150, 243, 0.9) , rgba(33, 150, 243, 0.9));
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	top: 0;
	padding: 0px 24px;
	font-size: 18px;
	line-height: 28px;
	color: var(--background-main);
}
.overlay-text {
	/* width: 322px; */
}

/* modalka */

.backdrop.is-hidden{
	opacity: 0;
	pointer-events: none;
}

.backdrop {
	position: fixed;
	top: 0;
	right: 0;
	transition-property: opacity;
	/* transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
	opacity: 1;
	width: 100%;
	height: 100%;
	background-color: var(--backdrop-bckg) ;
}
.modal-button-c:hover {
	fill: #2196F3;
}
.modal-button-c {
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	height: 30px;
	width: 30px;
	display: flex;
	position: absolute;
	top: 8px;
	right: 8px;
	align-items: center;
	justify-content: center;
	background-color: var(--background-main);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;

}
.backdrop.is-hidden > .modal {
	/* transform: scale(0.5); */
	transform: translate(50% , 50%) translateY(-150px) scale(0.8) ;
}
.modal {
	padding: 40px 39px 40px 41px;
	transform-origin: center center;
	transition-property: transform;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 50%;
	right: 50%;
	transform: translate(50% , 50%);
	width: 528px;
	height: 581px;
	background-color: var(--background-main);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	outline: 1px yellow;
}
.client-data-field {
	text-align: center;
	font-weight: 700;
	font-size: 20px;
	line-height: 23px;
	margin-bottom: 12px;
}
/* .modal-form {
	width: 448px;
} */
.form-label {
	margin-bottom: 10px;
	display: block;
	color: var(--secondary-text);
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
}
.form-label:last-child {
	margin-bottom: 20px;
}
.form-input {
	margin-top: 4px;
	display: block;
	color: var(--primary-text);
	width: 448px;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding-left: 42px;
}
.form-textarea:focus,
.form-input:focus {
	border-color: var(--company-color);
	outline: 0;
}
.form-svg-cont {
	display: block;
	position: relative;
}
.form-svg-cont:focus-within {
	fill: #188CE8;
}

.form-input-svg {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
}
.form-textarea {
	color: var(--primary-text);
	margin-top: 4px;
	resize: none;
	width: 100%;
	height: 120px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding: 12px 16px;
}
.form-checkbox:checked + .checkbox-svg > .checkbox-svg-checked {
	opacity: 1;
}
/* .form-checkbox:hover + .checkbox-svg>.checkbox-svg-unchecked , */
.form-checkbox:focus + .checkbox-svg > .checkbox-svg-unchecked {
	outline: 2.5px solid var(--company-color);
	border-radius: 2px;
	outline-offset: -2px;
}
.form-checkbox:checked+.checkbox-svg>.checkbox-svg-unchecked {
	opacity: 0;

}
.form-checkbox-label {
	padding-left: 13px;
	margin-bottom: 30px;
	line-height: 24px;
	display: flex;
	align-items: center;
}
.checkbox-svg {
	display: block;
	width: 16px;
	height: 15px;
	position: relative;
	margin-right: 8.38px;
	/* border: 2px solid var(--primary-text); */
}
.checkbox-svg-checked {
	transition-property: opacity; 
	transition-duration: 250ms ;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	background-color: var(--company-color);
	background-origin: border-box;
	border-color: var(--company-color);
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50% , -50%);
	border-radius: 2px;
}
.checkbox-svg-unchecked {
	transition-property: opacity , outline;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.modal-conditions-link {
	text-decoration-line: underline;
	color: var(--company-color);
}
.modal-conditions-link,
.form-checkbox-label {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
}
.form-checkbox-label {
	color: var(--secondary-text);
}
.modal-submit:hover {
	background-color: #188CE8;
}
.modal-submit {
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 50px;
	font-weight: 700;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.06em;
	color: var(--background-main);
	background-color: var(--company-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: 0px;
}